# Data Cleaning
***

## Data Aquisition

In [31]:
import pandas as pd
import numpy as np
from numba import njit, jit
from typing import TypeVar
import multiprocessing
from joblib import Parallel, delayed
from IPython.core.display import HTML, display
import time
import datetime
from scipy import stats
import os
import warnings

warnings.filterwarnings('ignore')

pd.set_option("display.max_rows", 8)
pd.set_option("display.max_columns", 20)

num_cores = multiprocessing.cpu_count()
PandasDataFrame = TypeVar('pandas.core.frame.DataFrame')
NaN = np.nan

### Time Series Tables

These are the U.S. and Global time series tables from the CSSE database

In [2]:
fips = pd.read_csv('../data/population/UID_ISO_FIPS_LookUp_Table.csv')
fips_US = fips[777:] # only include county specific
fips_US = fips_US[fips['Country_Region'] == 'US']
fips_US = fips_US[['FIPS', 'Admin2', 'Province_State', 'Country_Region']]
fips_US = fips_US.rename({'Admin2': 'County'},axis=1)
fips_US['FIPS'] = fips_US['FIPS'].astype('str').str.slice(0,-2)

cases_US = pd.read_csv("../data/pandemic/time_series_covid19_confirmed_US.csv")

cases_US = cases_US[5:] # exclude US territories

cases_US = cases_US.drop(["FIPS","Combined_Key","code3","iso2", "iso3","UID"], axis=1)
cases_US = cases_US.rename(columns={"Admin2": "County", "Long_": "Long"})

cases_global = pd.read_csv("../data/pandemic/time_series_covid19_confirmed_global.csv")
cases_global = cases_global.rename(columns={"Province/State": "Province_State", 
                                            "Country/Region": "Country_Region"})
cases_global["County"] = NaN

In [3]:
display(HTML("<p style='font-size: 15px'>Global Cases</p>"))
cases_global

,Province_State,Country_Region,Lat,Long,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,6/22/2020,6/23/2020,6/24/2020,6/25/2020,6/26/2020,6/27/2020,6/28/2020,6/29/2020,6/30/2020,County
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,29157,29481,29640,30175,30451,30616,30967,31238,31517,NaN
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,1995,2047,2114,2192,2269,2330,2402,2466,2535,NaN
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,11920,12076,12248,12445,12685,12968,13273,13571,13907,NaN
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,855,855,855,855,855,855,855,855,855,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,967,992,1015,1076,1089,1103,1118,1128,1158,NaN
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,247,265,265,272,272,272,272,272,303,NaN
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,5513,5567,5630,5691,5747,5799,5849,5900,5900,NaN
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,12,17,17,17,24,24,27,27,27,NaN

In [4]:
display(HTML("<p style='font-size: 15px'>U.S. Cases</p>"))
cases_US

,County,Province_State,Country_Region,Lat,Long,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,...,6/21/2020,6/22/2020,6/23/2020,6/24/2020,6/25/2020,6/26/2020,6/27/2020,6/28/2020,6/29/2020,6/30/2020
5,Autauga,Alabama,US,32.539527,-86.644082,0,0,0,0,0,...,428,436,447,463,473,482,492,497,521,530
6,Baldwin,Alabama,US,30.727750,-87.722071,0,0,0,0,0,...,415,422,435,449,462,500,539,559,626,663
7,Barbour,Alabama,US,31.868263,-85.387129,0,0,0,0,0,...,271,276,279,287,303,309,314,314,319,322
8,Bibb,Alabama,US,32.996421,-87.125115,0,0,0,0,0,...,124,126,132,138,146,150,158,159,162,167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3257,Southeast Utah,Utah,US,38.996171,-110.701396,0,0,0,0,0,...,31,31,31,32,32,33,34,35,35,36
3258,Southwest Utah,Utah,US,37.854472,-111.441876,0,0,0,0,0,...,1056,1104,1151,1200,1258,1302,1361,1428,1467,1519
3259,TriCounty,Utah,US,40.124915,-109.517442,0,0,0,0,0,...,38,39,39,40,42,45,46,48,48,50
3260,Weber-Morgan,Utah,US,41.271160,-111.914512,0,0,0,0,0,...,666,676,708,734,779,814,846,872,919,954

#### Expand Time Series Data

In [ ]:
cases_total_temp = pd.concat([cases_US, cases_global], sort=False)
cases_total_temp = cases_total_temp[cases_total_temp['Country_Region'].isin(highlighted_countries)]
cases_total_temp = cases_total_temp[cases_total_temp['Province_State'].notnull()]

In [ ]:
def get_rows(row):
    temp = pd.DataFrame(columns=pd.DataFrame(columns=['County','Province_State','Country_Region', 
                                                      'Lat','Long','Date','Total_Cases']))
    for date in row[5:].iteritems():
            new_row = row[:5]
            new_row["Date"] = date[0]
            new_row["Total_Cases"] = date[1]
            temp = pd.concat([temp, new_row.to_frame().transpose()])
    return temp

def convert_time_series():
    cols = cases_total_temp.columns[:5].append(pd.Index(["Date","Total_Cases"]))
    temp = pd.DataFrame(columns=cols)

    row_n = 0
    result = Parallel(n_jobs=num_cores-1)(delayed(get_rows)(j) for i, j in cases_total_temp.iterrows())
    return pd.concat(result)

start_time = time.time()
cases_total = convert_time_series()
end_time = time.time() - start_time
# print("--- %s seconds ---" % (end_time))

In [ ]:
# save data in case a kernal restart is required
cases_total[['Lat', 'Long']] = cases_total[['Lat', 'Long']].apply(pd.to_numeric)
cases_total['Date'] = pd.to_datetime(cases_total['Date'], cache=True)
cases_total.to_csv("../data/pandemic/covid_19_time_series_all.csv")

In [5]:
# load data if kernal is restarted
cases_total = pd.read_csv("../data/pandemic/covid_19_time_series_all.csv",low_memory=False).iloc[:,1:]
cases_total['Date'] = pd.to_datetime(cases_total['Date'], cache=True)

In [6]:
cases_US = cases_total[cases_total['Country_Region'] == 'US']
cases_total = cases_total[cases_total['Country_Region'] != 'US'].drop('County',axis=1)

**Here I wanted to treat the time series data as one feature rather than separate variabels. I explored several ways to approach this, but with a lack of user friendly solutions, I iteratively expanded each row. I was able to minimize the runtime through multiprocessing.**

In [7]:
display(HTML("<p style='font-size: 15px'>U.S. By Counties</p>"))
cases_US

,County,Province_State,Country_Region,Lat,Long,Date,Total_Cases
0,Autauga,Alabama,US,32.539527,-86.644082,2020-01-22,0
1,Autauga,Alabama,US,32.539527,-86.644082,2020-01-23,0
2,Autauga,Alabama,US,32.539527,-86.644082,2020-01-24,0
3,Autauga,Alabama,US,32.539527,-86.644082,2020-01-25,0
...,...,...,...,...,...,...,...
524212,Weber-Morgan,Utah,US,41.271160,-111.914512,2020-06-27,846
524213,Weber-Morgan,Utah,US,41.271160,-111.914512,2020-06-28,872
524214,Weber-Morgan,Utah,US,41.271160,-111.914512,2020-06-29,919
524215,Weber-Morgan,Utah,US,41.271160,-111.914512,2020-06-30,954

**The global table was filtered by the key countries of interest: U.S., Australia, Canada, China, and UK. I chose these countries as they have province specific data making them comparable at a detailed level. The U.S. cases were kept in a separate table at the county level for separate analysis, but were aggregated to the state level within the global table.**

In [8]:
display(HTML("<p style='font-size: 15px'>Global</p>"))
cases_total

,Province_State,Country_Region,Lat,Long,Date,Total_Cases
524216,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-22,0
524217,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-23,0
524218,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-24,0
524219,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-25,0
...,...,...,...,...,...,...
533067,Yukon,Canada,64.2823,-135.0000,2020-06-27,11
533068,Yukon,Canada,64.2823,-135.0000,2020-06-28,11
533069,Yukon,Canada,64.2823,-135.0000,2020-06-29,11
533070,Yukon,Canada,64.2823,-135.0000,2020-06-30,11

### Adding Temperature, Political Party, Protest, and Lockdown Variables

In [9]:
### COVID-19 Phases ###

In [10]:
phases = pd.read_csv("../data/pandemic/WP_phases_6.30.20.csv")
for i in range(4):
    phases[f'Phase.{i}'] = pd.to_datetime(phases[f'Phase.{i}'], cache=True)

cases_US = cases_US.merge(phases, left_on='Province_State', right_on='State')

In [11]:
def set_phases(row):
    if  row['Date'] < row['Phase.0']:
        return -1
    elif row['Date'] >= row['Phase.0'] and row['Date'] < row['Phase.1']:
        return 0
    elif row['Date'] >= row['Phase.1'] and row['Date'] < row['Phase.2']:
        return 1
    elif row['Date'] >= row['Phase.2'] and row['Date'] < row['Phase.3']:
        return 2
    else:
        return 3

cases_US['Current_Phase'] = pd.Categorical(cases_US.apply(set_phases, axis=1))

In [12]:

# cases_US[
#     (cases_US['Date'] < (cases_US['Date'][10] + pd.DateOffset(days=100))) & 
#     (cases_US['County'] == cases_US['County'][10]) & 
#     (cases_US['Province_State'] == cases_US['Province_State'][10])]['Total_Cases'].max()

In [13]:
### Temperature Data ###

In [14]:
fips_US['County_FIPS'] = fips_US['FIPS'].str.slice(-3)
cases_US = cases_US.merge(fips_US)

In [15]:
### US temps
cases_US['Month'] = cases_US['Date'].dt.to_period('M')

files = []
for r, d, f in os.walk("../data/temperature/US/"):
    for file in f:
        if '.csv' in file:
            files.append(os.path.join(r, file))

dates = pd.date_range('2020-01-31', periods=len(files), freq='M')
temps = pd.DataFrame(columns=pd.DataFrame(columns=["Location ID","Location","Value","Rank",
                                                   "Anomaly (1901-2000 base period)",
                                                   "1901-2000 Mean", "Month"]))
for i, file in enumerate(files):
    temp = pd.read_csv(file)
    temp['Month'] = dates[i]
    temps = pd.concat([temps, temp])
temps['Month'] = temps['Month'].dt.to_period('M')

temps['Abbreviation'] = temps['Location ID'].str.slice(0,2)
temps['County_FIPS'] = temps['Location ID'].str.slice(-3)
temps = temps.drop(['Location ID', 'Location', 'Rank', 'Anomaly (1901-2000 base period)', '1901-2000 Mean'], axis=1)
temps = temps.rename({'Value': 'Avg_Temp'}, axis=1)

temps_US = pd.merge(cases_US, temps, how='left', on=['Abbreviation','Month', 'County_FIPS'])
temps_US = temps_US.drop('Province_State', axis=1)

# fill in missing temps with state average by month
avg_m_temps_us = (temps_US.groupby(['State','Month'])
    .mean()
    .reset_index()
    .drop(['Lat','Long','Total_Cases'], axis=1))
rows = temps_US[np.isnan(temps_US['Avg_Temp'])][['County', 'State', 'Date', 'FIPS', 'Month']]

missing_temps = rows.reset_index().merge(avg_m_temps_us, on=['State', 'Month']).set_index('index')
missing_temps['Avg_Temp'] = round(missing_temps['Avg_Temp'], ndigits=1)

temps_US.loc[missing_temps.index,['Avg_Temp']] = missing_temps['Avg_Temp']
cases_US = temps_US.drop('County_FIPS', axis=1)

In [16]:
# international temps
cases_total['Month'] = cases_total['Date'].dt.to_period('M')

temps_global = pd.read_csv('../data/temperature/UNdata_Export_Global_Temps.csv')
temps_AU = pd.read_csv('../data/temperature/NOAA_Australia_2020_temps.csv')
temps_global = pd.concat([temps_global, temps_AU]).reset_index().iloc[:, 1:]
temps_global = temps_global.iloc[:, :20]
temps_global = temps_global.rename({'Country or Territory': 'Country_Region'}, axis=1)
temps_global = temps_global[
    (temps_global['Statistic Description'] == 'Mean Value') & # average temp values
    (np.isnan(temps_global['Jan Footnotes'])) & # NaN means accurate value
    (np.isnan(temps_global['Feb Footnotes'])) &
    (np.isnan(temps_global['Mar Footnotes'])) &
    (np.isnan(temps_global['Apr Footnotes'])) &
    (np.isnan(temps_global['May Footnotes'])) &
    (np.isnan(temps_global['Jun Footnotes']))
]

remove_cols = [i for i in temps_global.columns if 'Footnotes' in i] 
remove_cols.extend(temps_global.iloc[:,1:8].columns)
temps_global = temps_global.drop(list(remove_cols),axis=1)

def get_month(m_str):
    if m_str == 'Jan':
        return '2020-01'
    elif m_str == 'Feb':
        return '2020-02'
    elif m_str == 'Mar':
        return '2020-03'
    elif m_str == 'Apr':
        return '2020-04'
    elif m_str == 'May':
        return '2020-05'
    elif m_str == 'Jun':
        return '2020-06'
    else:
        return ''

def get_rows_temps(row):
    temp = pd.DataFrame(columns=pd.DataFrame(columns=['Country_Region', 'Avg_Temp', 'Month']))
    for month in row[1:].iteritems():
        new_row = pd.DataFrame([[row[0], month[1], get_month(month[0])]],
                              columns=['Country_Region', 'Avg_Temp', 'Month'])
        temp = pd.concat([temp, new_row])
    return temp

def convert_global_temps():
    cols = temps_global.columns[:5].append(pd.Index(["Date","Total_Cases"]))
    temp = pd.DataFrame(columns=cols)

    row_n = 0
    result = Parallel(n_jobs=num_cores-1)(delayed(get_rows_temps)(j) for i, j in temps_global.iterrows())
    return pd.concat(result)

start_time = time.time()
temps_global = convert_global_temps()
end_time = time.time() - start_time

temps_global['Country_Region'] = temps_global['Country_Region'].str.title().str.strip()
temps_global['Month'] = pd.to_datetime(temps_global['Month'].str.strip()).dt.to_period('M')
temps_global = temps_global.groupby(['Country_Region','Month']).mean().reset_index()

temp = cases_total.merge(temps_global, how='left', on=['Country_Region','Month'])
cases_total = temp

In [17]:
### Protest Data ###

In [18]:
BLM_global = pd.read_csv('../data/protests/BLMProtestsCount.csv').iloc[:,1:]
BLM_global = BLM_global.rename({'Value.properties.Country': 'Country_Region',
                                'Region': 'Province_State', 'Count': 'Protest_Count',
                                'State': 'Abbreviation'}, axis=1)

# Data Cleaning
BLM_global = BLM_global[BLM_global['Province_State'].notnull()] # only compare region specific
BLM_global.loc[BLM_global['Country_Region'] == 'USA', 'Country_Region'] = 'US'
BLM_global['Province_State'] = BLM_global['Province_State'].str.replace(' County', '')
BLM_global['Province_State'] = BLM_global['Province_State'].str.replace(' Parish', '')
BLM_global.loc[BLM_global['Province_State'] == 'Baltimore city', 'Province_State'] = 'Baltimore City'
BLM_global = BLM_global[BLM_global['Country_Region'].isin(highlighted_countries)]

BLM_US = BLM_global[BLM_global['Country_Region'] == 'US']
BLM_US = BLM_US.rename({'Province_State': 'County', 'State': 'Abbreviation'}, axis=1)

# US Protests
temp = pd.merge(cases_US, BLM_US, how='left')
temp.loc[temp['Protest_Count'].isnull(), 'Protest_Count'] = 0
temp['Protest_Count'] = temp['Protest_Count'].astype('int32')
cases_US = temp

# Generalize Gobal by Province/Region
States = cases_US[['State', 'Abbreviation']].groupby(["State", "Abbreviation"]).max().reset_index()

BLM_US = BLM_US.merge(States)
BLM_US = BLM_US.rename({'State': 'Province_State'},axis=1).drop('County', axis=1)
BLM_US = BLM_US.groupby(['Province_State', 'Country_Region', 'Abbreviation']).sum().reset_index()

BLM_total = BLM_global[BLM_global['Country_Region'] != 'US']
BLM_total = pd.concat([BLM_US, BLM_total]).reset_index().drop('index', axis=1)
cases_total = cases_total.merge(BLM_total, how='left')

**After organizing the pandemic data, I added a series of other interesting variables mainly to the U.S. dataset including average temperature per month, political party controlling the current local governemnt, a count for the number of recoreded Black Lives Matter protests in the area, COVID-19 lockdown phases and restriction rating from the Washington Post.**

In [19]:
display(HTML("<p style='font-size: 15px'>U.S. By Counties</p>"))
cases_US

,County,Country_Region,Lat,Long,Date,Total_Cases,State,Abbreviation,Phase.0,Phase.1,Phase.2,Phase.3,Restriction Rating,Governer.Party,Current_Phase,FIPS,Month,Avg_Temp,Protest_Count
0,Autauga,US,32.539527,-86.644082,2020-01-22,0,Alabama,AL,2020-04-04,2020-04-30,2020-05-11,2020-05-22,minor,R,-1,1001,2020-01,50.5,0
1,Autauga,US,32.539527,-86.644082,2020-01-23,0,Alabama,AL,2020-04-04,2020-04-30,2020-05-11,2020-05-22,minor,R,-1,1001,2020-01,50.5,0
2,Autauga,US,32.539527,-86.644082,2020-01-24,0,Alabama,AL,2020-04-04,2020-04-30,2020-05-11,2020-05-22,minor,R,-1,1001,2020-01,50.5,0
3,Autauga,US,32.539527,-86.644082,2020-01-25,0,Alabama,AL,2020-04-04,2020-04-30,2020-05-11,2020-05-22,minor,R,-1,1001,2020-01,50.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521636,Unassigned,US,0.000000,0.000000,2020-06-27,0,Wyoming,WY,2020-03-15,2020-03-15,2020-05-01,2020-05-15,minor,R,3,90056,2020-06,NaN,0
521637,Unassigned,US,0.000000,0.000000,2020-06-28,0,Wyoming,WY,2020-03-15,2020-03-15,2020-05-01,2020-05-15,minor,R,3,90056,2020-06,NaN,0
521638,Unassigned,US,0.000000,0.000000,2020-06-29,0,Wyoming,WY,2020-03-15,2020-03-15,2020-05-01,2020-05-15,minor,R,3,90056,2020-06,NaN,0
521639,Unassigned,US,0.000000,0.000000,2020-06-30,0,Wyoming,WY,2020-03-15,2020-03-15,2020-05-01,2020-05-15,minor,R,3,90056,2020-06,NaN,0

**For the global table, I was able to add Average Temp for most non-US countries and an international BLM protest count per country**

In [20]:
display(HTML("<p style='font-size: 15px'>Global</p>"))
cases_total

,Province_State,Country_Region,Lat,Long,Date,Total_Cases,Month,Avg_Temp,Abbreviation,Protest_Count
0,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-22,0,2020-01,26.350000,NaN,1.0
1,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-23,0,2020-01,26.350000,NaN,1.0
2,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-24,0,2020-01,26.350000,NaN,1.0
3,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-25,0,2020-01,26.350000,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...
8851,Yukon,Canada,64.2823,-135.0000,2020-06-27,11,2020-06,12.544541,YT,2.0
8852,Yukon,Canada,64.2823,-135.0000,2020-06-28,11,2020-06,12.544541,YT,2.0
8853,Yukon,Canada,64.2823,-135.0000,2020-06-29,11,2020-06,12.544541,YT,2.0
8854,Yukon,Canada,64.2823,-135.0000,2020-06-30,11,2020-06,12.544541,YT,2.0

### Population and Demographics Variables (US)

In [21]:
### Popualtion Data ###

In [29]:
# US population
pop_US = pd.read_csv('../data/population/county_area_2010.csv')
pop_US = pop_US[['fips', 'AGE775213', 'RHI125213', 'SEX255213',
                 'RHI225213', 'RHI325213', 'RHI425213', 'RHI525213',
                 'RHI625213', 'RHI725213', 'POP645213', 'HSD310213',
                 'LND110210']]
pop_US = pop_US.rename({'fips': 'FIPS', 'AGE775213': 'Perc.Over.65', 'SEX255213': 'Perc.Female',
                        'RHI125213': 'Perc.White','RHI225213': 'Perc.Black', 
                        'RHI325213': 'Perc.Native', 'RHI425213': 'Perc.Asian',
                        'RHI525213': 'Perc.Pac.Island', 'RHI625213': 'Perc.Mixed',
                        'RHI725213': 'Perc.His.Lat', 'POP645213': 'Perc.Foreign.Born', 
                        'HSD310213': 'Avg.Person.Per.Household',
                        'LND110210': 'Land.Area.sq.mi'},axis=1)
pop_US['FIPS'] = pop_US['FIPS'].astype('str')

# update population to 2019
pop_US_19 = pd.read_csv('../data/population/co-est2019-annres.csv', engine='python')
pop_US_19['POP.2019'] = pop_US_19['2019'].astype('int') / 1000
temp = pop_US_19['Region'].str.split(',',n = 1, expand = True)
pop_US_19['County'] = temp[0].str.replace(' County', '').str.strip()
pop_US_19['Province_State'] = temp[1].str.strip()
pop_US_19 = pop_US_19.drop(['Region','2019'],axis=1)
pop_US_19 = pop_US_19.merge(fips_US)

pop_US = pop_US.merge(pop_US_19)

# update density
pop_US['Area.sq.km'] = (pop_US['Land.Area.sq.mi'] * 2.58999) / 1000
pop_US['PopDensity'] = pop_US['POP.2019'] / pop_US['Area.sq.km']
pop_US = pop_US.drop(['Land.Area.sq.mi'],axis=1)

temp = pop_US.merge(cases_US, how='right', on='FIPS')
cases_US = temp.dropna()

In [23]:
# global population
pop_global = pd.read_csv("../data/population/WPP2019_TotalPopulationBySex.csv")
pop_global = pop_global[pop_global['Time'] == 2020]
pop_global = pop_global.groupby('Location').mean().reset_index()
pop_global = pop_global.drop(['VarID', 'Time', 'MidPeriod'], axis=1)
pop_global = pop_global.rename({'LocID': 'FIPS', 'Location': 'Country_Region'},axis=1) # technically incorrect but makes joining simpler

pop_global['FIPS'] = pop_global['FIPS'].astype('str').str.slice(0,-2)
pop_global['Area.sq.km'] = pop_global['PopTotal'] / pop_global['PopDensity']
pop_global = pop_global[pop_global['Country_Region'] != 'United States of America']
cases_total = cases_total.merge(pop_global, how='left')

**Lastly, I added American Community Survey (ACS) estimates from the Census Bureau including demographic data at the county level in the U.S along with the population density of each county. The population and area metrics are in the thousands.**

In [30]:
display(HTML("<p style='font-size: 15px'>U.S. By Counties</p>"))
pop_US

,FIPS,Perc.Over.65,Perc.White,Perc.Female,Perc.Black,Perc.Native,Perc.Asian,Perc.Pac.Island,Perc.Mixed,Perc.His.Lat,Perc.Foreign.Born,Avg.Person.Per.Household,POP.2019,County,Province_State,Country_Region,County_FIPS,Area.sq.km,PopDensity
0,1001,13.5,78.1,51.5,18.4,0.5,1.1,0.1,1.7,2.7,1.6,2.71,55.869,Autauga,Alabama,US,001,1.539594,36.288146
1,1003,18.1,87.3,51.2,9.5,0.7,0.9,0.1,1.5,4.6,3.6,2.52,223.234,Baldwin,Alabama,US,003,4.117514,54.215719
2,1005,15.9,50.2,46.5,47.6,0.6,0.5,0.2,0.9,4.8,2.9,2.66,24.686,Barbour,Alabama,US,005,2.291830,10.771303
3,1007,14.3,76.3,46.0,22.1,0.4,0.2,0.1,0.9,2.1,1.2,3.03,22.394,Bibb,Alabama,US,007,1.612476,13.887959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3001,56039,11.8,94.6,48.0,1.5,1.0,1.3,0.1,1.5,15.1,9.1,2.76,23.464,Teton,Wyoming,US,039,10.347994,2.267493
3002,56041,10.5,95.6,49.3,0.8,1.3,0.4,0.2,1.7,9.1,3.4,2.85,20.226,Uinta,Wyoming,US,041,5.390443,3.752197
3003,56043,19.2,95.0,49.7,0.8,1.7,0.7,0.1,1.7,14.2,5.0,2.40,7.805,Washakie,Wyoming,US,043,5.797822,1.346195
3004,56045,17.4,95.3,47.6,0.6,1.7,0.3,0.0,2.1,3.8,0.4,2.29,6.927,Weston,Wyoming,US,045,6.211029,1.115274

**For the global data, the United Nations had population numbers per country. These are 2020 estimates.**

In [27]:
display(HTML("<p style='font-size: 15px'>Global</p>"))
cases_total

,Province_State,Country_Region,Lat,Long,Date,Total_Cases,Month,Avg_Temp,Abbreviation,Protest_Count,FIPS,PopMale,PopFemale,PopTotal,PopDensity,Area.sq.km
0,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-22,0,2020-01,26.350000,NaN,1.0,36,12698.625,12801.256,25499.881,3.319,7683.001205
1,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-23,0,2020-01,26.350000,NaN,1.0,36,12698.625,12801.256,25499.881,3.319,7683.001205
2,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-24,0,2020-01,26.350000,NaN,1.0,36,12698.625,12801.256,25499.881,3.319,7683.001205
3,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-25,0,2020-01,26.350000,NaN,1.0,36,12698.625,12801.256,25499.881,3.319,7683.001205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8851,Yukon,Canada,64.2823,-135.0000,2020-06-27,11,2020-06,12.544541,YT,2.0,124,18732.178,19009.979,37742.157,4.150,9094.495663
8852,Yukon,Canada,64.2823,-135.0000,2020-06-28,11,2020-06,12.544541,YT,2.0,124,18732.178,19009.979,37742.157,4.150,9094.495663
8853,Yukon,Canada,64.2823,-135.0000,2020-06-29,11,2020-06,12.544541,YT,2.0,124,18732.178,19009.979,37742.157,4.150,9094.495663
8854,Yukon,Canada,64.2823,-135.0000,2020-06-30,11,2020-06,12.544541,YT,2.0,124,18732.178,19009.979,37742.157,4.150,9094.495663

In [26]:
cases_US.drop('Province_State', axis=1).to_csv("../data/US_all_vars.csv")
cases_total.to_csv("../data/Global_all_vars.csv")